<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSRAP STYLES BEGIN -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP STYLES END -->

    <!-- CUSTOM STYLE BEGINS -->

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        body {
            background-image: url(../../../static/images/unsplash_7JX0-bfiuxQ.svg);
            font-family: 'Playfair Display', serif;
        }
        .school-box {
            background-color: #585266;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: #ffffff;
        }
        .student-box {
            background-color: #DBCBEA;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .school-header {
            font-size: 1.5em;
        }
        .para-container {
            font-size: 1em;
        }
        .custom-img {
            height: 4em;
        }
        .custom-img-2 {
            width: 7em;
        }
    </style>

    <!-- CUSTOM STYLE ENDS -->

    <title>Post Comment</title>
  </head>
  <body>
    <main>
      <div class="container-md my-5">
        <div class="row mb-3">
          <div class="col-sm-8 mt-4">
            <h1>Posts</h1>
          </div>
          <div class="col-9 col-sm-4">
            <form action="">
              <label for="search" class="form-label"></label>
              <input
                type="search"
                id="search"
                name="search"
                class="form-control form-control-lg"
                placeholder="Search"
              />
            </form>
          </div>
        </div>
        <div class="row my-3 px-3 py-3">
            <div class="col-sm-8">
                <div class="row school-box">
                    <div class="col-sm-1">
                        <img src="../../../static/images/Ellipse 1.svg" alt="" class="img-fluid custom-img">
                    </div>
                    <div class="col-sm-10 my-auto">
                        <h3 class="school-header">Scarlet Montessori School</h3>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <img src="../../../static/images/Vectorflag.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row student-box">
                    <div class="col-10">
                        <div class="row mt-3">
                          <div class="col-2 mt-3">
                            <img
                              src="../../../static/images/Ellipse 3- african-boy.svg"
                              alt=""
                              class="img-fluid custom-img-2"
                            />
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Name</b>: Igbinosa Efosa Boraz</p>
                            <p><b>Student</b>: SMS2201826</p>
                            <p><b>Gender</b>: Male</p>
                            <p><b>Unpaid Debt</b>: N22,000</p>
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Class before withdrawal</b>: JSS3</p>
                            <p><b>Date of withdrawal</b>: 5th Feb 2021</p>
                            <p><b>Date Contended</b>: 23rd July, 2022</p>
                          </div>
                          <div class="col-2 mt-3">
                            <p>
                              <img
                                src="../../../static/images/messages-3.svg"
                                alt=""
                                srcset=""
                              />
                              12 Comments
                            </p>
                            <a href="#" class="nav-link custom-link">
                                View Comments  
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <a href="#">
                    <img src="../../../static/images/add-circle.svg" alt="cancel" class="img-fluid">
                </a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row my-3 px-3 py-3">
            <div class="col-sm-8">
                <div class="row school-box">
                    <div class="col-sm-1">
                        <img src="../../../static/images/Ellipse 1-2.svg" alt="" class="img-fluid custom-img">
                    </div>
                    <div class="col-sm-10 my-auto">
                        <h3 class="school-header">Praise Word School</h3>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <img src="../../../static/images/Vectorflag.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row student-box">
                    <div class="col-10">
                        <div class="row mt-3">
                          <div class="col-2 mt-3">
                            <img
                              src="../../../static/images/Ellipse 3- boy-smiling.svg"
                              alt="boy smiling"
                              class="img-fluid custom-img-2"
                            />
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Name</b>: Emenike Chukwubuikem Moses</p>
                            <p><b>Student</b>: PWS1801123</p>
                            <p><b>Gender</b>: Male</p>
                            <p><b>Unpaid Debt</b>: N14,000</p>
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Class before withdrawal</b>: JSS3</p>
                            <p><b>Date of withdrawal</b>: 11th August 2020</p>
                          </div>
                          <div class="col-2 mt-3">
                            <p>
                              <img
                                src="../../../static/images/messages-3.svg"
                                alt=""
                                srcset=""
                              />
                              3 Comments
                            </p>
                            <a href="#" class="nav-link custom-link">
                                View Comments  
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <a href="#">
                    <img src="../../../static/images/add-circle.svg" alt="cancel" class="img-fluid">
                </a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row my-3 px-3 py-3">
            <div class="col-sm-8">
                <div class="row school-box">
                    <div class="col-sm-1">
                        <img src="../../../static/images/Ellipse 3- top-lane.svg" alt="" class="img-fluid custom-img">
                    </div>
                    <div class="col-sm-10 my-auto">
                        <h3 class="school-header">Top Lane School</h3>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <img src="../../../static/images/Vectorflag.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row student-box">
                    <div class="col-10">
                        <div class="row mt-3">
                          <div class="col-2 mt-3">
                            <img
                              src="../../../static/images/Ellipse 3-fine-girl.svg"
                              alt=""
                              class="img-fluid custom-img-2"
                            />
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Name</b>: Ayodeji Tomiwa Mary</p>
                            <p><b>Student</b>: TLS1700623</p>
                            <p><b>Gender</b>: Female</p>
                            <p><b>Unpaid Debt</b>: N18,000</p>
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Class before withdrawal</b>: SS1</p>
                            <p><b>Date of withdrawal</b>: 2nd May 2021</p>
                            <p><b>Date Contended</b>: 21st Feb, 2022</p>
                          </div>
                          <div class="col-2 mt-3">
                            <p>
                              <img
                                src="../../../static/images/messages-3.svg"
                                alt=""
                                srcset=""
                              />
                              12 Comments
                            </p>
                            <a href="#" class="nav-link custom-link">
                                View Comments  
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <a href="#">
                    <img src="../../../static/images/add-circle.svg" alt="cancel" class="img-fluid">
                </a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row my-3 px-3 py-3">
            <div class="col-sm-8">
                <div class="row school-box">
                    <div class="col-sm-1">
                        <img src="../../../static/images/Ellipse 1.svg" alt="" class="img-fluid custom-img">
                    </div>
                    <div class="col-sm-10 my-auto">
                        <h3 class="school-header">Scarlet Montessori School</h3>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <img src="../../../static/images/Vectorflag.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row student-box">
                    <div class="col-10">
                        <div class="row mt-3">
                          <div class="col-2 mt-3">
                            <img
                              src="../../../static/images/Ellipse 3.svg"
                              alt=""
                              class="img-fluid custom-img-2"
                            />
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Name</b>: Ephriam Onyebuchi Derrick</p>
                            <p><b>Student</b>: SMS1658210</p>
                            <p><b>Gender</b>: Male</p>
                            <p><b>Unpaid Debt</b>: N52,000</p>
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Class before withdrawal</b>: JS1</p>
                            <p><b>Date of withdrawal</b>: 5th Jan 2022</p>
                            <p><b>Date Contended</b>: 21st Feb, 2022</p>
                          </div>
                          <div class="col-2 mt-3">
                            <p>
                              <img
                                src="../../../static/images/messages-3.svg"
                                alt=""
                                srcset=""
                              />
                              12 Comments
                            </p>
                            <a href="#" class="nav-link custom-link">
                                View Comments  
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <a href="#">
                    <img src="../../../static/images/add-circle.svg" alt="cancel" class="img-fluid">
                </a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row my-3 px-3 py-3">
            <div class="col-sm-8">
                <div class="row school-box">
                    <div class="col-sm-1">
                        <img src="../../../static/images/Group 2608527.svg" alt="" class="img-fluid custom-img">
                    </div>
                    <div class="col-sm-10 my-auto">
                        <h3 class="school-header">Shining Light School</h3>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <img src="../../../static/images/Vectorflag.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row student-box">
                    <div class="col-10">
                        <div class="row mt-3">
                          <div class="col-2 mt-3">
                            <img
                              src="../../../static/images/Ellipse 3- glasses-boy.svg"
                              alt=""
                              class="img-fluid custom-img-2"
                            />
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Name</b>: Odiro Adigun Shabi</p>
                            <p><b>Student</b>: SLS2001526</p>
                            <p><b>Gender</b>: Male</p>
                            <p><b>Unpaid Debt</b>: N76,000</p>
                          </div>
                          <div class="col-4 mt-3 para-container">
                            <p><b>Class before withdrawal</b>: JSS3</p>
                            <p><b>Date of withdrawal</b>: 14th March 2022</p>
                            <p><b>Date Contended</b>: 30th June, 2022</p>
                          </div>
                          <div class="col-2 mt-3">
                            <p>
                              <img
                                src="../../../static/images/messages-3.svg"
                                alt=""
                                srcset=""
                              />
                              12 Comments
                            </p>
                            <a href="#" class="nav-link custom-link">
                                View Comments  
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <a href="#">
                    <img src="../../../static/images/add-circle.svg" alt="cancel" class="img-fluid">
                </a>
            </div>
            <div class="col-2">
            </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

  </body>
</html>