<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSRAP STYLES BEGIN -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP STYLES END -->

    <!-- CUSTOM STYLE BEGINS -->

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
      body {
        background-image: url(../../../static/images/unsplash_7JX0-bfiuxQ.svg);
        font-family: "Playfair Display", serif;
      }
      .student-box {
        background-color: #dbcbea;
        border-radius: 15px;
      }
      .custom-icon-sch {
        border-radius: 50%;
        width: 7em;
      }
    </style>

    <!-- CUSTOM STYLE ENDS -->

    <title>School Inbox</title>
  </head>
  <body>
    <main>
      <div class="container-md">
        <div class="row my-5">
          <div class="col-sm-8 mt-4">
            <h1>Inbox</h1>
          </div>
          <div class="col">
            <form action="">
              <label for="search" class="form-label"></label>
              <input
                type="search"
                id="search"
                name="search"
                class="form-control form-control-lg"
                placeholder="Search"
              />
            </form>
          </div>
        </div>
        <div class="row mt-3 mt-sm-5 px-3 py-2">
          <div class="col-sm-6">
            <div class="row student-box">
              <div class="col-3 mt-3">
                <img
                  src="../../../static/images/Group 2608527.svg"
                  alt=""
                  class="img-fluid custom-icon-sch"
                />
              </div>
              <div class="col mt-3">
                <h3>Shining Light Primary & Secondary School</h3>
                <p>Were the family experiencing any financial difficulties ?</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row mt-3 mt-sm-5 px-3 py-2">
          <div class="col-sm-6">
            <div class="row student-box">
              <div class="col-3 mt-3">
                <img
                  src="../../../static/images/Ellipse 1-2.svg"
                  alt=""
                  class="img-fluid custom-icon-sch"
                />
              </div>
              <div class="col mt-3">
                <h3>Praise Word Secondary School</h3>
                <p><b>You</b>: I just sent the file to the provide email</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row mt-3 mt-sm-5 px-3 py-2">
          <div class="col-sm-6">
            <div class="row student-box">
              <div class="col-3 mt-3">
                <img
                  src="../../../static/images/Ellipse 3- top-lane.svg"
                  alt=""
                  class="img-fluid custom-icon-sch"
                />
              </div>
              <div class="col mt-3">
                <h3>Top Line Primary & Secondary School</h3>
                <p>
                  That child's data has been deleted from the directory because
                  it has been cleard
                </p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row mt-sm-5 mt-3 mb-5 px-3 py-2">
          <div class="col-sm-6">
            <div class="row student-box">
              <div class="col-3 mt-3">
                <img
                  src="../../../static/images/Ellipse 3-bereton.svg"
                  alt=""
                  class="img-fluid custom-icon-sch"
                />
              </div>
              <div class="col mt-3">
                <h3>Bereton Technical High College</h3>
                <p>Has the post been reviewed yet. What's the progress ?</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
