<!DOCTYPE html>
{% load static %}
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pre Registration Pages</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/style.css'%}">
    </head>
    <body>

        {% include 'navbar.html' %}
       
        {% block content %}
        
        
        {% endblock  %}
        
        <script src="{% static 'js/script.js' %}" async defer></script>

    </body>
</html>