{% load static %}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  #ch-card {
    position: relative;
  }


  #ch-card .text_c {
    width: 500px;
    height: 52px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 52px;
    color: #03050e;
  }

  #ch-card .wrapper_card {
    width: 400px;
    height: 175px;
    margin-top: 115px;
    padding: 16.4px;
    background-color: #dbcbea;
    border-radius: 8.4px;
    display: flex;
  }

  #ch-card .hero_card-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 20px;
  }

  #ch-card .hero_card-info h3 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 12.603px;
    line-height: 17px;

    color: #000000;
  }

  #ch-card .hero_card-info span {
    font-family: "Playfair Display";
    width: 67px;
    height: 17px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 12.603px;
    line-height: 17px;
  }

  #ch-card .btn_card button {
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-top: -40px;
    background: #77aed0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  #ch-card .btn_card-text_c {
    width: 99px;
    height: 28px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #1e1a1a;
  }

  #ch-card .btn_card button:hover {
    border: 3px solid #613995;
  }

  @media (max-width: 600px) {
    #ch-card .hero_card {
      /* background-color: red; */
      padding: 2px;
      width: 300px;
      margin-left: -50px;
    }

    #ch-card .text_c {
      width: 341px;
      height: 76px;
    }

    #ch-card .wrapper_card {
      width: 384px;
      height: 278px;
    }

    #ch-card .btn_card button {
      width: 100%;
      margin-left: 30px;
    }
  }

</style>

<div id="ch-card" class="hero_card">
  <div class="wrapper_card">
    <div class="hero_card-info">
      <h3>Name: <span>Ephraim Onyebuchi Derrick</span></h3>
      <h3>Gender: <span>Male</span></h3>
      <h3>Date of withdrawal: <span>2022</span></h3>
    </div>

    <div class="hero_card-info">
      <h3>Student ID: <span>SMS2201126</span></h3>
      <h3>Unpaid Debt: <span>#52,000</span></h3>
      <h3>Interest incurred: <span>8.75%</span></h3>
    </div>
  </div>
  <div class="btn_card">
    <button class="btn_card-text_c">Contend</button>
  </div>
</div>
