{% load static %}
<div class="dark-purple"></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img class="footer-logo" src="{% static 'images/SDMlogo.svg' %}" alt="Logo">
                <div class="social-img">
                    <img id="img" src="{% static 'images/Facebook logo.svg' %}" alt="Facebook">
                    <img id="img" src="{% static 'images/Twitter logo.svg' %}" alt="Twitter">
                    <img id="img" src="{% static 'images/Instagram logo.svg' %}" alt="Instagram">
                    <img id="img" src="{% static 'images/LinkedIn logo.svg' %}" alt="LinkedIn">
                </div>
            </div>
            <div class="footer-col" id="two">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support Centre</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Join Our Mailing List</h4>
                <input type="email" placeholder="email address" id="footer-email">
                <input type="submit" value="Submit" id="footer-email-btn">
            </div>
        </div>
    </div>
    </div>
    <h2 class="copy">&copy; 2022 Student Debt Monitor Software. All rights reserved</h2>
    </div>
</footer>
