{% load static %}
<style>
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 78px;
        background: #6E599B;
        padding: 6px 14px;
        z-index: 99;
        transition: all 0.5s ease;
    }

    .sidebar.open {
        width: 250px;
    }

    .sidebar .logo-details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .sidebar .logo-details .logo {
        width: 9em;
        opacity: 0;
        transition: all 0.5s ease;
    }


    .sidebar.open .logo-details .logo {
        opacity: 1;
    }

    .sidebar .logo-details #btn {
        position: absolute;
        top: 50%;
        right: 5.5px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .sidebar.open .logo-details #btn {
        text-align: right;
    }

    .sidebar i {
        color: #ffffff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .sidebar .nav-list {
        margin-top: 20px;
        height: 100%;
    }

    .sidebar li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

    .sidebar li .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar li:hover .tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar.open li .tooltip {
        display: none;
    }

    .sidebar li a.a {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #6E599B;
    }

    .sidebar li a:hover {
        background: #BB99E3;
    }

    .sidebar li a .links_name {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
    }

    .sidebar.open li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li a:hover .links_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: #11101D;
    }

    .sidebar li i {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }

    .sidebar li.profile {
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #1d1b31;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .sidebar.open li.profile {
        width: 250px;
    }

    .sidebar li .profile-details {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .sidebar li img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }

    #profile-img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }


    .sidebar li.profile .name,
    .sidebar li.profile .job {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
        text-align: left
    }

    .sidebar li.profile .job {
        font-size: 12px;
    }

    .sidebar .profile #log_out {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #1d1b31;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
    }

    .sidebar.open .profile #log_out {
        width: 50px;
        background: none;
    }

    .sidebar ul {
        padding-left: 0;
    }

    #setting-s {
        margin-top: 8em;
    }

    #setting-g {
        margin-top: 19em;
    }

    @media (max-width: 420px) {
        .sidebar li .tooltip {
            display: none;
        }
    }

</style>
<div class="sidebar">
    <div class="logo-details">
        <a href="{% url 'base:home' %}"><img class='logo' src="{% static 'images/SDMlogo.svg' %}" alt="logo" /></a>

        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        {%if request.user.role == 'SCHOOL' %}

        <li>
            <a class='a' href="{% url 'accounts:sch_dshbd' %}">
                <i><img class="nav-img" src="{% static 'images/dsh_Icon.svg' %}" alt="dashboard" /></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/note-text.svg' %}" alt="directory" /></i>
                <span class="links_name">Directory</span>
            </a>
            <span class="tooltip">Directory</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img img-post" src="{% static 'images/flag.svg' %}" alt="posts" /></i>
                <span class="links_name">Contended Posts</span>
            </a>
            <span class="tooltip">Contended Posts</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img img-post" src="{% static 'images/clock.svg' %}" alt="progress" /></i>
                <span class="links_name">Progress Report</span>
            </a>
            <span class="tooltip">Progress Report</span>
        </li>
        <li>
            <a class='a' href="#">

                <i><img class="nav-img" src="{% static 'images/message-text.svg' %}" alt="comment" /></i>
                <span class="links_name">Posts</span>
            </a>
            <span class="tooltip">Posts</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/inbox-icon.svg' %}" alt="inbox" /></i>
                <span class="links_name">Inbox</span>
            </a>
            <span class="tooltip">Inbox</span>
        </li>
        <li id='setting-s'>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/setting-2.svg' %}" alt="inbox" /></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        {%elif request.user.role == 'GUARDIAN' %}
        <li>
            <a class='a' href="{% url 'accounts:gdn_wlc' %}">
                <i><img class="nav-img" src="{% static 'images/dsh_Icon.svg' %}" alt="dashboard" /></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img img-post" src="{% static 'images/flag.svg' %}" alt="posts" /></i>
                <span class="links_name">Contended Posts</span>
            </a>
            <span class="tooltip">Contended Posts</span>
        </li>
        <li>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/note-text.svg' %}" alt="directory" /></i>
                <span class="links_name">Review Updates</span>
            </a>
            <span class="tooltip">Review Updates</span>
        </li>
        <li id='setting-g'>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/setting-2.svg' %}" alt="inbox" /></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        {% endif %}
        <li id='contact_us'>
            <a class='a' href="#">
                <i><img class="nav-img" src="{% static 'images/like.svg' %}" alt="inbox" /></i>
                <span class="links_name">Contact Us</span>
            </a>
            <span class="tooltip">Contact Us</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img id='profile-img' src="{% static 'images/Ellipse 1.svg' %}" alt="logo" />
                <div class="name_job">
                    <div class="name">{{request.user.name}}</div>
                    <div class="job">{{request.user.email}}</div>
                </div>
            </div>
            <a href="{% url 'accounts:logout' %}">
                <i class='bx bx-log-out' id="log_out"></i></a>
        </li>
    </ul>
</div>
