<!DOCTYPE html>
{% load static %}
<header>
    <div class="navlogo">
        <img src="{% static 'images/SDMlogo.svg' %}" alt="SDM logo" />
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a class="nav-btn" href="{% url 'base:home' %}">Home</a></li>
            <li><a class="nav-btn" href="{% url 'base:school_registered' %}">Schools</a></li>
            <li><a class="nav-btn" href="{% url 'base:contact_us' %}">Contact Us</a></li>
            <li><a class="register" href="{% url 'accounts:select_reg' %}">Register</a></li>
            <li><a class="login" href="{% url 'accounts:login' %}">Login</a></li>
        </ul>
    </nav>
</header>
