{% extends 'main_index.html' %} {% load static %} {% block content %}

<style>
  #add_debt .cs1-header {
    font-size: 2em;
  }

  #add_debt .cs1-para {
    font-size: 1.2em;
  }

  #add_debt .btn-doc {
    background-color: #777480;
    color: #ffffff;
    border-radius: 16px;
  }

  #add_debt .cs1-btn-add {
    background-color: #77aed0;
    color: #ffffff;
    border-radius: 12px;
  }

</style>

<main id="add_debt" class="after_login">
  <div class="container-md">
    <div class="row text-center">
      <h1 class="cs1-header">Add a debtor to your directory</h1>
      <p class="cs1-para">Fill in the details of your debtor below</p>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-sm-8">
        <form action="">
          <div class="col">
            <label for="fname" class="form-label">Full Name</label>
            <input type="text" class="form-control form-control-lg" id="fname" placeholder="Full Name" />
          </div>
          <div class="row">
            <div class="col-md mt-3 mt-sm-4">
              <label for="std-id" class="form-label">Student ID</label>
              <input type="number" class="form-control form-control-lg" id="std-id" placeholder="Enter ID" />
            </div>
            <div class="col-md mt-3 mt-sm-4">
              <label for="dt-wtd" class="form-label">Date Of Withdrawal</label>
              <input type="date" class="form-control form-control-lg" id="dt-wtd" placeholder="Date" />
            </div>
          </div>
          <div class="row">
            <div class="col-md mt-3 mt-sm-4">
              <label for="debt-in" class="form-label">Debt Incurred</label>
              <input type="number" class="form-control form-control-lg" id="debt-in" placeholder="Amount" />
            </div>
            <div class="col-md mt-3 mt-sm-4">
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select form-select-lg" aria-label="Default select example" id="gender">
                <option selected>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md mt-3 mt-sm-4">
              <label for="cl-wtd" class="form-label">Class Of Withdrawal</label>
              <select class="form-select form-select-lg" aria-label="Default select example" id="cl-wtd">
                <option selected>Select</option>
                <option value="JS1">JS1</option>
                <option value="JS2">JS2</option>
                <option value="JS3">JS3</option>
                <option value="SS1">SS1</option>
                <option value="SS2">SS2</option>
                <option value="SS3">SS3</option>
              </select>
            </div>
            <div class="col-md mt-3 mt-sm-4">
              <label for="inter-in" class="form-label">Interest Incurred</label>
              <input type="number" class="form-control form-control-lg" id="inter-in" placeholder="Amount" />
            </div>
          </div>
          <div class="row mt-5 justify-content-center">
            <div class="col-md text-center">
              <a href="#">
                <img src="Upload Frame (2).svg" alt="" class="img-fluid" />
              </a>
              <p>Supported Formats: JPEG or PNG</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md text-center">
              <div class="row justify-content-center">
                <div class="col-8">
                  <label for="formFile" class="form-label"> </label>
                  <input type="file" id="formFile" class="form-control" />
                </div>
              </div>
              <br />
              <button type="button" class="btn btn-doc mb-3">
                Upload Document
              </button>
              <br /><br />
              <button type="submit" class="btn cs1-btn-add btn-lg mx-auto px-5 py-2">
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
