{% extends 'main_index.html' %}
{% load static %}
{% block content %}
<style>
  p {
    font-size: 1em;
  }

  .custom-header {
    font-size: 2.2em;
  }

  .custom-box {
    background-color: #D9D9D9;
    border-radius: 0.75em;
  }

  .custom-text {
    color: #000000;
    text-decoration: none;
  }

  .custom-icon-1 {
    width: 2em;
  }

  .custom-icon-2 {
    width: 20em;
  }

  .custom-img {
    height: 8em;
    width: 10em;
  }

  .custom-btt-secondary {
    background-color: #ABA8A8;
    border-radius: 10px;
    color: #1E1A1A;
    font-size: 16px;
  }

  .custom-btt-success {
    background-color: #56CC42;
    border-radius: 10px;
    color: #1E1A1A;
    font-size: 16px;
  }

  .custom-btt-danger {
    background-color: #FFA398;
    border-radius: 10px;
    color: #1E1A1A;
    font-size: 16px;
  }

</style>

<main id="sch_contend" class='after_login'>
  <div class="container-md">
    <div class="row">
      <div class="col my-4">
        <h2 class="custom-header">Contended Posts</h2>
        <p>The posts below were contended by guardians of debtors</p>
      </div>
      <div class="col-sm-5">
        <form action="">
          <label for="Search" class="form-label"></label>
          <input type="search" name="Search" id="Search" size="20px" class="form-control rounded"
            placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="row ps-lg-3">
      <div class="col-sm mx-lg-3">
        <div class="row">
          <div class="col-sm-9 mt-3">
            <p><b>Sort by:</b> Recently flagged</p>
          </div>
          <div class="col-sm-3 mt-3">
            <a href="#" class="custom-text">
              Delete all
              <img src="../../../static/images/trash.svg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="row my-3 px-4 py-4">
          <div class="col-sm-9 custom-box">
            <div class="row">
              <div class="col-2 col-md-2 mt-4">
                <img src="../../../static/images/Ellipse 3 (1).svg" alt="" class="img-fluid custom-img" />
              </div>
              <div class="col-5 col-md-5 mt-4">
                <p><b>Name</b>: Olarenwaju Ayomide Daniel</p>
                <p><b>Gender</b>: Male</p>
                <p><b>Unpaid Debt</b>: 170,000</p>
                <p><b>Interest Incurred</b>: 22.5%</p>
              </div>
              <div class="col-4 col-md-4 mt-4">
                <p><b>Student ID</b>: SMS1902424</p>
                <p><b>Class before of withdrawal</b>: JSS3</p>
                <p><b>Date of withdrawal</b>: 5th Feb 2021</p>
                <p><b>Date contended</b>: 23rd July, 2022</p>
              </div>
              <div class="col-1 col-md-1 mt-4">
                <img src="../../../static/images/Group 23.svg" alt="" class="img-fluid custom-icon-2" />
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 mx-auto">
                <div class="row">
                  <div class="col-10">
                    <form action="">
                      <label for="Search" class="form-label"></label>
                      <input type="text" name="Search" id="Search" size="20px"
                        class="form-control form-control-sm rounded" placeholder="{{ variable }}" />
                    </form>
                  </div>
                  <div class="col-2 mt-4">
                    <a href="#">
                      <img src="../../../static/images/Vector.svg" alt="" class="img-fluid custom-icon-1">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col text-center">
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-secondary">In View</button>
                </a>
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-success">Resolved</button>
                </a>
                <a href="#" class="mx-3 mt-3">
                  <button type="button" class="btn btn-sm custom-btt-danger">Unresolved</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        <div class="row my-5 px-4 py-4">
          <div class="col-sm-9 custom-box">
            <div class="row">
              <div class="col-2 col-md-2 mt-4">
                <img src="../../../static/images/Ellipse 3 (2).svg" alt="" class="img-fluid custom-img" />
              </div>
              <div class="col-5 col-md-5 mt-4">
                <p><b>Name</b>: Okoro Nkechi Williamina</p>
                <p><b>Gender</b>: Female</p>
                <p><b>Unpaid Debt</b>: 55,000</p>
                <p><b>Interest Incurred</b>: 10%</p>
              </div>
              <div class="col-4 col-md-4 mt-4">
                <p><b>Student ID</b>: SMS2001726</p>
                <p><b>Class before of withdrawal</b>: JSS2</p>
                <p><b>Date of withdrawal</b>: 15th Dec 2021</p>
                <p><b>Date contended</b>: 10th July, 2022</p>
              </div>
              <div class="col-1 col-md-1 mt-4">
                <img src="../../../static/images/Group 23.svg" alt="" class="img-fluid custom-icon-2" />
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 mx-auto">
                <div class="row">
                  <div class="col-10">
                    <form action="">
                      <label for="Search" class="form-label"></label>
                      <input type="text" name="Search" id="Search" size="20px"
                        class="form-control form-control-sm rounded" placeholder="{{ variable }}" />
                    </form>
                  </div>
                  <div class="col-2 mt-4">
                    <a href="#">
                      <img src="../../../static/images/Vector.svg" alt="" class="img-fluid custom-icon-1">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col text-center">
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-secondary">In View</button>
                </a>
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-success">Resolved</button>
                </a>
                <a href="#" class="mx-3 mt-3">
                  <button type="button" class="btn btn-sm custom-btt-danger">Unresolved</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        <div class="row my-5 px-4 py-4">
          <div class="col-sm-9 custom-box">
            <div class="row">
              <div class="col-2 col-md-2 mt-4">
                <img src="../../../static/images/Ellipse 3.svg" alt="" class="img-fluid custom-img" />
              </div>
              <div class="col-5 col-md-5 mt-4">
                <p><b>Name</b>: Oluwafemi Feyikemi Hosea</p>
                <p><b>Gender</b>: Male</p>
                <p><b>Unpaid Debt</b>: 25,000</p>
                <p><b>Interest Incurred</b>: 40%</p>
              </div>
              <div class="col-4 col-md-4 mt-4">
                <p><b>Student ID</b>: SMS1802724</p>
                <p><b>Class before of withdrawal</b>: JSS2</p>
                <p><b>Date of withdrawal</b>: 22nd Dec 2021</p>
                <p><b>Date contended</b>: 29th June 2022</p>
              </div>
              <div class="col-1 col-md-1 mt-4">
                <img src="../../../static/images/Group 23.svg" alt="" class="img-fluid custom-icon-2" />
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 mx-auto">
                <div class="row">
                  <div class="col-10">
                    <form action="">
                      <label for="Search" class="form-label"></label>
                      <input type="text" name="Search" id="Search" size="20px"
                        class="form-control form-control-sm rounded" placeholder="{{ variable }}" />
                    </form>
                  </div>
                  <div class="col-2 mt-4">
                    <a href="#">
                      <img src="../../../static/images/Vector.svg" alt="" class="img-fluid custom-icon-1">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col text-center">
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-secondary">In View</button>
                </a>
                <a href="#" class="mx-3">
                  <button type="button" class="btn btn-sm custom-btt-success">Resolved</button>
                </a>
                <a href="#" class="mx-3 mt-3">
                  <button type="button" class="btn btn-sm custom-btt-danger">Unresolved</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
