 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,100&family=Playfair+Display:wght@400;500;600;700&display=swap');
 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
 }

 body {
     font-family: 'Playfair Display';
    background-image: url("/static/images/unsplash_7JX0-bfiuxQ.svg");
    text-align: center;

 }
a{
    text-decoration: none;
}
 main {
     position: relative;
 }
.after_login {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.after_login {
    left: 250px;
    width: calc(100% - 250px);
}

 /* Navbar starts */
 header {
     width: 100%;
     height: 80px;
     background-color: #613995;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 120px;
 }

 .navlogo img {
     height: 60px;
     width: 100px;
     left: -4863px;
     top: 12014px;
     border-radius: 0px;

 }

 .hamburger {
     display: none;
 }

 .nav-bar ul {
     display: flex;
     margin-top: 1em;
 }

 .nav-bar ul li a {
     display: block;
     color: white;
     font-size: 15px;
     padding: 10px 30px;
     transition: 0.2s;
     margin: 0 5px;
 }

 .about:hover {
     color: rgb(214, 202, 202);
 }

 a.nav-btn {
     text-decoration: none;
 }
 .nav-btn:hover {
     background-color: #7F5EAA;
     border-radius: 8px;
 }

 .register {
     background-color: #77AED0;
     border-radius: 8px;
 }

 .register:hover {
     background-color: transparent;
     border: 1px solid #77AED0;
 }

 .login {
     background-color: transparent;
     border: 1px solid #77AED0;
     border-radius: 8px;
 }

 .login:hover {
     background-color: #77AED0;
 }

 @media only screen and (max-width:1320px) {
     header {
         padding: 0 50px;
     }
 }

 @media only screen and (max-width:1100px) {
     header {
         padding: 0 30px;
     }
 }

 @media only screen and (max-width:900px) {
     .hamburger {
         display: block;
         cursor: pointer;
     }

     .hamburger .line {
         width: 30px;
         height: 3px;
         background-color: white;
         margin: 6px;
     }

     .nav-bar.active {
         height: 450px;
     }

     .nav-bar {
         /* display: none; */
         position: absolute;
         height: 0px;
         top: 80px;
         left: 0;
         right: 0;
         width: 100vw;
         background-color: #613995;
         transition: .5s;
         overflow: hidden;
     }

     .nav-bar ul {
         display: block;
         width: fit-content;
         margin-left: 180px;
         margin-top: 55px;
         text-align: center;
         transition: .5s;
         opacity: 0;
     }

     .nav-bar.active ul {
         opacity: 1;
     }

     .nav-bar ul li a {
         margin-bottom: 12px;
     }
 }

 /* navbar ends */


 /* footer starts*/
 .dark-purple {
     background-color: #3b0c79;
     height: 10px;
 }

 .footer {
     background-color: #613995;
     padding: 60px 0;
 }

 .container {
     max-width: 1170px;
     margin: auto;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
     text-align: left;
 }

 .footer-logo {
     height: 100px;
     width: 100px;
     padding-bottom: 50px;
 }

 .footer-col {
     width: 25%;
     padding: 0 15px;
 }

 ul {
     list-style: none;
 }

 .footer-col h4 {
     font-size: 18px;
     color: #ffffff;
     margin-bottom: 35px;
     font-weight: 500;
 }

 .footer-col ul li:not(:last-child) {
     margin-bottom: 10px;
 }

 .footer-col ul li a {
     font-size: 16px;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;
 }

 .footer-col ul li a:hover {
     color: #ebe1e1;
     padding-left: 5px;
 }

 .social-img img {
     transition: all 0.5s ease;
     display: inline-block;
     height: 30px;
     width: 30px;
     margin-right: 10px;
     text-align: center;
     line-height: 40px;
 }

 .social-img img:hover {
     opacity: 0.5;
 }

 .social-img {
     margin-top: 10px;
 }

 #footer-email {
     width: 180px;
     height: 40px;
     padding-left: 0.5rem;
     outline: none;
     border-radius: 50px;
     border-radius: none;
     font-size: 1rem;
     margin-bottom: 1rem;
 }

 #footer-email-btn {
     width: 75px;
     height: 30px;
     border-radius: 10px;
     color: white;
     font-size: .8rem;
     background-color: rgb(41, 141, 155);
     cursor: pointer;
     transition: all .4s ease-out;
     border: none;
     outline: none;
 }

 #footer-email-btn:hover {
     background-color: transparent;
     border: 2px solid rgb(41, 141, 155);
 }

 .copy {
     color: white;
     font-size: .8rem;
     font-weight: 100;
     text-align: center;
     margin-top: 70px;
 }

 /* Responsive */

 @media(max-width:767px) {
     .footer-col {
         width: 100%;
         margin-bottom: 30px;
         text-align: left;
         margin-left: 40px;
     }

     .footer-col .footer-logo {
         text-align: left;
     }
     .social-img {
         margin-top: 40px;
     }

     .social-img img {
         margin-right: 10px;
     }

     #footer-email {
         width: 220px;
     }

     .footer-col h4 {
         font-weight: bold;
     }

     .copy {
         text-align: left;
         margin-left: 50px;
         margin-top: 30px;
     }

     .footer-logo {
         padding-bottom: 20px;
     }
    }

/* footer ends */